<p> No matter: Conservative Leader Stephen Harper, NDP Leader Tom Mulcair, Liberal Leader Justin Trudeau and Green party Leader Elizabeth May are squaring off in Toronto in a rare early debate — the first of many — that promises to shape the rest of the campaign.

"I'm looking forward to sparring a little bit, work out some kinks,'' said Trudeau, who worked out with a coach. "This morning seemed like an appropriate time to do some training.''

The economy, the environment, energy, foreign policy and security are among the issues expected to dominate the two-hour verbal battle, being hosted by Maclean's magazine and moderated by political editor Paul Wells.
</p>
